<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>
    <% include ./includes/header.ejs %>
</head>

<body>
    <% include ./includes/navbar.ejs %>
        <div class="bg-img main-container" style="background-image: url('/img/3.jpg'); height: 30%;"></div>

        <div class="row" style="text-align: center; padding-top: 20px; padding-right: 20px; padding-left: 20px">
            <div class="col">
                <h1 style="color: #ff5722">Produto</h1>
                <p>
                    Aliquam pretium, nisi vitae congue consectetur, ligula mauris viverra dolor, in efficitur est augue et felis. Vivamus condimentum
                    et ante ut pharetra. Fusce ac quam non elit semper dignissim vel in nibh. Nunc vehicula sem ac purus
                    convallis, non pellentesque justo malesuada. Praesent id erat id elit auctor rhoncus sed quis est. Nullam
                    ac eros vel arcu porta sagittis. Duis aliquet tristique ornare. Donec eleifend elit lorem, feugiat malesuada
                    augue tempor at. Quisque ex tellus, ullamcorper et nibh vel, suscipit pharetra urna. Nam eu tempor sapien.
                    Praesent posuere, velit in pellentesque tincidunt, sem nisi ultrices odio, eget iaculis lacus justo eu
                    mauris. Donec eget enim convallis, sollicitudin sapien id, molestie orci.
                </p>
            </div>
            <div class="col">
                <h1>congue consectetur</h1>
                <p>
                    Aliquam pretium, nisi vitae congue consectetur, ligula mauris viverra dolor, in efficitur est augue et felis. Vivamus condimentum
                    et ante ut pharetra. Fusce ac quam non elit semper dignissim vel in nibh. Nunc vehicula sem ac purus
                    convallis, non pellentesque justo malesuada. Praesent id erat id elit auctor rhoncus sed quis est. Nullam
                    ac eros vel arcu porta sagittis. Duis aliquet tristique ornare. Donec eleifend elit lorem, feugiat malesuada
                    augue tempor at. Quisque ex tellus, ullamcorper et nibh vel, suscipit pharetra urna. Nam eu tempor sapien.
                    Praesent posuere, velit in pellentesque tincidunt, sem nisi ultrices odio, eget iaculis lacus justo eu
                    mauris. Donec eget enim convallis, sollicitudin sapien id, molestie orci.
                </p>
                <br>
                <button type="button" class="btn btn-success">Fale com um consultor</button>
            </div>
            <div class="col align-self-center">
                <div class="card hovercard">
                    <div class="avatar mx-auto">
                        <img alt="avatar" class="rounded-circle z-depth-1" height="150px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p class="blue-text">Consultor</p>
                        </div>
                        <div class="desc">Duis aliquet tristique ornare</div>
                        <div class="desc">Nullam ac eros vel arcu porta sagittis.</div>
                        <div class="desc">velit in pellentesque tincidunt</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>